@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/
:root {
    --Pink: hsl(322, 100%, 66%);
    --Very-Pale-Cyan: hsl(193, 100%, 96%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Grayish-Blue: hsl(208, 11%, 55%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;

}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(../front13/images/bg-hero-desktop.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    background-color: var(--Very-Pale-Cyan);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 70px;
}

nav a {
    display: inline-block;
    text-decoration: none;
    width: 135px;
    border-radius: 39px;
    background-color: white;
    text-decoration: none;
    color: var(--Very-Dark-Cyan);
    height: 40px;
    text-align: center;
    line-height: 2.1;
    box-shadow: 0px 0px 2px #333;
    transition: all 0.7s ease;
}

nav a:hover {
    transform: scale(1.1);
}

.ts {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.img {
    width: 50%;
}

.img img {
    width: 100%;
}

.text h1 {
    font-family: 'Poppins', sans-serif;
    color: var(--Very-Dark-Cyan);
    font-size: 30px;
    margin-bottom: 10px;

}

.text p {
    color: var(--Grayish-Blue);
    font-size: 16px;
    line-height: 1.8;
}

.text a,
.free a {
    background-color: var(--Pink);
    text-decoration: none;
    display: inline-block;
    color: white;
    margin-top: 15px;
    border-radius: 40px;
    /* padding: 15px; */
    width: 220px;
    height: 40px;
    text-align: center;
    line-height: 2.5;
    font-size: 16px;
    transition: all 0.7s ease;
}

.text a:hover,
.free a:hover {
    transform: scale(1.1);
}

/* ------------------ */

section {
    padding: 50px;
    background-color: white;
}

section .img1 {
    width: 35%;
}

section .img1 img {
    width: 100%;
}

.se {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
    margin: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 40px 20px;
    border-radius: 10px;
}

.ser1,
.ser3 {
    flex-direction: row-reverse;
}

.se h2 {
    font-size: 22px;
    color: var(--Very-Dark-Cyan);
    margin-bottom: 15px;
}

.se p {
    color: var(--Grayish-Blue);
    line-height: 1.8;
}

.free {
    position: relative;
    max-width: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    background-color: white;
    padding: 60px 0;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    margin-bottom: -110px;
}

.free h1 {
    margin-bottom: 15px;
}

.free a {
    width: 315px;
    height: 60px;
    line-height: 4;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: var(--Very-Pale-Cyan);
    padding: 200px 100px 30px;
}

footer .qw {
    width: 250px;
}

footer .fot {
    display: flex;
    justify-content: space-between;
    margin: 40px 0px;
}

.fot1 {
    min-width: 32%;
    width: 35%;
}

.as {
    display: flex;
    align-items: flex-start;
}

.as img {
    margin-top: 4px;
    margin-right: 20px;
}

li {
    margin-bottom: 20px;
    padding-right: 60px;
    list-style: none;
    opacity: 0.9;
}

.icon ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
}

a {
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    display: inline-flex;
    text-decoration: none;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
}

.icon li {
    padding: 4px;
}

.end {
    display: flex;
    justify-content: flex-end;
}